<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/stylelogin.css">
    <title>By Rodolfo</title>
    <link rel="icon" href="../Images/tag.png">
    <script src="../Scripts/login.js" type="text/javascript"></script>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Faça seu Login<br>
                Bem vindo a equipe</h1>
            <img src="../Images/hand.svg" class="left-login-image" alt="hand animacao">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="usuario">Usuário</label>
                     <input class="inputEmail" type="email" name="Digite seu login" placeholder="Email ou ID">
                </div>
                 <div class="textfield">
                    <label for="senha">Senha</label>
                        <input class="inputPassword" type="password" name="Digite sua senha" placeholder="Digite sua senha">
                         <button  class="btn-login">Login</button>
                <p>Esqueceu a senha? <a href="../Views/EsqueceuSenha.html"> Clique aqui </a></p>
             </div>
        </div>
    </div>
</body>
</html>